@import 'src/styles/scss/_colors.scss';

:global(.rangeSlider) {
  background-color: $color-lilac;
}

:global(.rangeSlider > .rangeBar) {
  background-color: $color-main;
}

:global(.rangeSlider > .rangeHandle > .rangeFloat) {
  background-color: $color-main;
  outline: none;
  opacity: 1;
}

:global(.rangeSlider > .rangeHandle > .rangeNub) {
  outline: none;
  background-color: $color-main;
}