@import './_colors.scss';

.replacements-tag-box-class {
	background-color: $color-main;
}

.replacements-tag-text-class {
	color: white;
}

.legislation-tag-box-class {
	background-color: palegreen;
}

.legislation-tag-text-class {
	color: darkgreen;
}
