@import './_colors.scss';

.button-standard {
	@extend .link-reset;
	margin: 5px;
	padding: 8px;
	overflow: hidden;
	border-radius: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15px;
	height: 1.2rem;
	width: 15rem;
	background-color: $color-main;
	color: white;
	cursor: pointer;
	outline: none !important;
	border: solid 2px $color-main;
	transition: all 200ms ease-in-out;
	box-sizing: content-box;
}

.button-standard:hover {
	background-color: $color-light;
	color: $color-main;
}

.button-blue-green {
	@extend .button-standard;
	background-color: $color-blue-green;
	border: solid 2px $color-blue-green;
	color: $color-main;
}

.button-blue-green:hover {
	background-color: $color-light;
	color: $color-blue-green;
}

.button-lilac {
	@extend .button-standard;
	background-color: $color-lilac;
	border: solid 2px $color-lilac;
	color: $color-main;
}

.button-lilac:hover {
	border-color: $color-main;
}

.button-narrow {
	height: 1.2rem;
	padding: 3px 5px;
}

.button-reversed-colors {
	background-color: white;
	color: $color-main;
}

.button-hover-replacement {
	@extend .button-reversed-colors;
}

.button-hover-replacement:hover {
	background-color: $color-replacement;
	color: white;
}

.button-hover-assistancy {
	@extend .button-reversed-colors;
	border-color: $color-assistancy;
	color: $color-assistancy;
}

.button-hover-assistancy:hover {
	background-color: $color-assistancy;
	color: white;
}

.button-hover-collaboration {
	@extend .button-reversed-colors;
	border-color: $color-collaboration;
	color: $color-collaboration;
}

.button-hover-collaboration:hover {
	background-color: $color-collaboration;
	color: white;
}

.button-border-1 {
	border-width: 1px;
}

.icon-button-width {
	width: 12rem;
}
