@import './_colors.scss';

// Faces

// ## Orkney

* {
	font-family: 'ralewayRegular', sans-serif;
}

@font-face {
	font-family: 'orkneyRegular';
	src: url('/fonts/orkney/Orkney-Regular.otf');
}

@font-face {
	font-family: 'orkneyBoldItalic';
	src: url('/fonts/orkney/Orkney-Bold-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'orkneyLight';
	src: url('/fonts/orkney/Orkney-Light.otf') format('truetype');
}

// ## Raleway

@font-face {
	font-family: 'ralewayRegular';
	src: url('/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'ralewayThin';
	src: url('/fonts/raleway/Raleway-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'ralewaySemiBoldItalic';
	src: url('/fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
}

// Sizes

@mixin titleFontSizeMixin() {
	font-size: 2.5rem;
	@media only screen and (max-width: 1501px) {
		font-size: 2.1rem;
	}
	@media only screen and (max-width: 701px) {
		font-size: 1.8rem;
	}
}

@mixin subtitleFontSizeMixin() {
	font-size: 2rem;
	@media only screen and (max-width: 1501px) {
		font-size: 1.8rem;
	}
	@media only screen and (max-width: 701px) {
		font-size: 1.6rem;
	}
}

@mixin titleFontCategorySizeMixin() {
	font-size: 1.7rem;
	@media only screen and (max-width: 1501px) {
		font-size: 1.5rem;
	}
	@media only screen and (max-width: 701px) {
		font-size: 1.3rem;
	}
}

@mixin landingFontSizeMixin() {
	font-size: 2rem;
	@media only screen and (max-width: 1501px) {
		font-size: 1.6rem;
		line-height: 5.2rem;
	}
	@media only screen and (max-width: 501px) {
		font-size: 1.3rem;
		line-height: 3.5rem;
	}
}

@mixin strongTextMixin() {
	font-size: 1.2rem;
	@media only screen and (max-width: 1501px) {
		font-size: 1.1rem;
	}
	@media only screen and (max-width: 501px) {
		font-size: 1rem;
	}
}

@mixin txtFontCardSizeMixin() {
	font-size: 1.4rem;
	@media only screen and (max-width: 1501px) {
		font-size: 1.2rem;
	}
	@media only screen and (max-width: 501px) {
		font-size: 1rem;
	}
}

@mixin baselineFontSizeMixin() {
	@media only screen and (max-width: 1501px) {
		font-size: 1.8rem;
	}
}

@mixin fontFormSizeMixin() {
	font-size: 1rem;
	@media only screen and (max-width: 1501px) {
		font-size: 0.9rem;
	}
}

// Classes

.titleFont {
	@include titleFontSizeMixin();
	font-family: 'orkneyRegular';
}

.subtitleFont {
	@include subtitleFontSizeMixin();
	font-family: 'orkneyRegular';
}

.menuFont {
	font-family: 'orkneyLight';
}

.landingFont {
	@include landingFontSizeMixin();
}

.strongText {
	@include strongTextMixin();
}

.buttonFont {
	font-family: 'orkneyLight';
}

.titleFontCategory {
	@include titleFontCategorySizeMixin();
	font-family: 'orkneyLight';
}

.font-baseline {
	@include baselineFontSizeMixin();
	font-family: 'ralewaySemiBoldItalic';
	font-size: 2.2rem;
}

.font-detail {
	@include fontFormSizeMixin();
	font-family: 'ralewaySemiBoldItalic';
	font-size: 2rem;
}

.txtFontCard {
	@include txtFontCardSizeMixin();
}

.navFont {
	font-size: 1.125rem;
}

/*footer*/

.titleFontFooter {
	@include titleFontCategorySizeMixin();
	font-family: 'orkneyBoldItalic';
}

.footerTxtFont {
	font-family: 'orkneyRegular';
}

/*formulaire*/

.fontSelectForm {
	@include fontFormSizeMixin();
	font-family: 'orkneyLight';
}

.fontForm {
	@include fontFormSizeMixin();
}

.FontDetailForm {
	@include fontFormSizeMixin();
	font-family: 'ralewaySemiBoldItalic';
}

/*annonce*/

.titleFontAnnonceCard {
	font-family: 'orkneyLight';
}

.actionLink {
	@include fontFormSizeMixin();
	font-family: 'ralewaySemiBoldItalic';
	text-decoration: underline;
	color: $color-link;
	cursor: pointer;
	width: fit-content;
	margin: 8px;
	text-align: center;
}

.small-font {
	font-size: 0.8rem;
}

.smaller-font {
	font-size: 0.6rem;
}

.font-rem-1-5 {
	font-size: 1.5rem;
}

.font-weight-bold {
	font-weight: bold;
}

.font-weight-semi-bold {
	font-weight: 600;
}

.font-orkney-regular {
	font-family: 'orkneyRegular';
}

.font-orkney-light {
	font-family: 'orkneyLight';
}
