.no-margin {
	margin: 0;
}

.margin-right-auto {
	margin-right: auto;
}

.margin-left-auto {
	margin-left: auto;
}

.margin-bottom-auto {
	margin-bottom: auto;
}

.margin-top-auto {
	margin-top: auto;
}

.margin-h-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.margin-v-auto {
	margin-right: auto;
	margin-left: auto;
}

.margin-auto {
	margin: auto;
}

.margin-0-3-rem {
	margin: 0.3rem;
	box-sizing: border-box;
}

.margin-0-5-rem {
	margin: 0.5rem;
	box-sizing: border-box;
}

.margin-right-auto {
	margin-right: auto;
}

.padding-1-rem {
	padding: 1rem;
	box-sizing: border-box;
}

.padding-4px {
	padding: 4px;
	box-sizing: border-box;
}

.padding-v-4px {
	padding-top: 4px;
	padding-bottom: 4px;
	box-sizing: border-box;
}
